@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

// keyboard
.watcher {
  padding-top: 8px;
  text-align: center;
  color: white;
  height: 100%;
  h1 {
    color: white;
  }

  video {
    object-fit: cover;
    width: 255px;
    height: 255px;
    border-radius: 50%;
  }
}

.kb-item {
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 10%;
  width: 30%;
  color: white;
  text-align: center;
  width: 22%;
  font-weight: 300;
  border: 2px solid #6984ca;
  background-color: transparent;
  margin: 15px 0;
  font-size: large;
  font-weight: bold;
  &-selected {
    background-color: #6984ca;
  }
}

.kb-flex {
  margin: 8% 5% 32px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.w-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72%;
}
